extends layout

block content
  div(class="container-fluid")
  h1= title
  -var result=results 
  div(class="row")
    each op,index in result
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{op.Brand}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{op.Flavour}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{op.Cost}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }