extends layout

block content
  h1(id='himsTitle')= title

  - let icecreamid = toShow._id
  - let icecreamBrand = toShow.Brand
  - let icecreamFlavour = toShow.Flavour
  - let icecreamCost = toShow.Cost
  div
    div.row
      div(class='icecreamAttr mr-3') icecream ID is:
      div(class='item hims') #{icecreamid}
    div.row
      div(class='icecreamAttr mr-3') icecream Brand is:
      div(class='item') #{icecreamBrand}
    div.row
      div(class='icecreamAttr mr-3') icecream Flavour is:
      div(class='item') #{icecreamFlavour}
    div.row
      div(class='icecreamAttr mr-3') icecream Cost is:
      div(class='item') #{icecreamCost}
