extends layout

block content
  h1= title

  - let icecreamid = toShow._id
  - let icecreamBrand = toShow.icecreamBrand
  - let icecreamFlavour = toShow.Flavour
  - let icecreamCost = toShow.Cost
  div
    div.row
      div(class='icecreamAttr mr-3') icecream ID is:
      div #{icecreamid}
    div.row
      div(class='icecreamAttr mr-3') icecream Brand is:
      div #{icecreamBrand}
    div.row
      div(class='icecreamAttr mr-3') icecream Flavour is:
      div #{icecreamFlavour}
    div.row
      div(class='icecreamAttr mr-3') icecream Cost is:
      div #{icecreamCost}
